<template name="gaQuestions">
    <main id="ga-main">
        <div class="wrapper">
            <div class="intro-section" style="margin-top:20px;">
                <div class="row">
                    <div class="col m3 s12">
                        <img class="responsive-img" src="/images/galileo/galileo-flask.png" style="width:90%;" />
                    </div>
                    <div class="col s12">
                        <h5>How does age and height affect microbiome diversity across samples?</h5>
                        <a href="#" id="seeViz" class="viz-link">Click to see viz</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>